<div class="home-menu">
    {% for c in collections %}
    <a class="home-menu-item" href="{{ c.url }}">
        <p class="title"> {{ c.title }} </p>
        {% if c.image %}
            <img src="{{ c.image | img_url: '2000x', crop: 'center' }}">
        {% endif %}
    </a>
    {% endfor %}   
    
</div>
