<div class="inactive">
  {% section 'header' %}
  {% section 'home-menu' %}
</div>

<div class="landing">
  {% assign names = "fab fa-facebook,fab fa-instagram,fab fa-patreon" | split: "," %}
  <img class="landing-logo" src="{{ 'logo.svg' | asset_url }}" alt="logo">
  <div class="hero-section"> 
    <p>  {{ settings.hero-text }} </p>
    <button onclick="call_to_action()"  class="button">  ENTER </button>
  </div>
  <div class="social-media"> 
    <ul>
      {% for name in names %}
        <li> 
          <a href=""> <i class="{{ name }}"> </i></a> 
        </li>
      {% endfor %}
    </ul>
  </div>  
</div>

{{ content_for_index }}