{% section 'header' %}
<div class="contact-container">
  <h1>{{ page.title }}</h1>
  {% form 'contact' %}
    {% if form.posted_successfully? %} Thank you! I will be in touch shortly. {% endif %}
    {{ form.errors | default_errors }}
    <input type="text" id="ContactFormName" placeholder="Name" name="contact[name]">
    <input type="email" id="ContactFormEmail" placeholder="Email" name="contact[email]">
    <input type="tel" placeholder="Phone" id="ContactFormPhone" name="contact[phone]">
    <textarea rows="10" id="ContactFormMessage" placeholder="Message" name="contact[body]"></textarea>
    <input class="button2" style="margin-top: 15px; width: 100px;"type="submit" value="Send">
{% endform %}
</div>



